registry=https://pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/registry/
//registry.npmjs.org/:_authToken=d8126ae4-5bf3-4fa6-b0d8-fe4688b4978d 
; begin auth token 
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/registry/:username=dnvgl-one 
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/registry/:_password=NXZwdG1qdHF4eWViZzRpeXpodW00a3VieWF2dGJiaWhtcGduem1kajZ4bDZlcXNqMjRlcQ==
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/registry/:email=lars.peder.amlie@dnv.com
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/:username=dnvgl-one 
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/:_password=NXZwdG1qdHF4eWViZzRpeXpodW00a3VieWF2dGJiaWhtcGduem1kajZ4bDZlcXNqMjRlcQ==
//pkgs.dev.azure.com/dnvgl-one/_packaging/dnvgl/npm/:email=lars.peder.amlie@dnv.com
; end auth token
